/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
-fx-font-size: 14pt;
 -fx-font-family: "Tahoma";
 -fx-background: #757081;

}

.button {
 -fx-text-fill: #000000;
 -fx-background-color: #6B82A8;
 -fx-border-radius: 20;
 -fx-background-radius: 20;
 -fx-padding: 5;
}

.button:hover{
  -fx-background-color: #6C82B8;
}
